/* forgot_password design */
* {
  font-family: "Poppins";
}
.forgot_password__col_6 {
  color: rgba(255, 255, 255, 1);
}
.padding_bg {
  padding: 40px;
}
.forgot_password_h2 {
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 1.2;
  color: rgba(62, 3, 178, 1);
}

.forgot_password_p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2;
  color: rgba(137, 138, 138, 1);
}

.forgot_password_label {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.2;
  color: rgba(137, 138, 138, 1);
}

.forgot_password_input {
  width: 100%;
  height: 51px;
  border-radius: 15px;
  padding: 0.5rem 1rem;
}

.forgot_password_button {
  width: 100%;
  height: 51px;
  border-radius: 15px;
  background: linear-gradient(to right, #5702ff, #4801d6) !important;
  color: aliceblue;
}

.forgot_password__image__parent {
  object-fit: cover;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.forgot_password__image__child__1 {
  position: absolute;
  top: 10px;
  left: 10px;
}

.forgot_password__image__child__2 {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  max-width: 80%;
  height: auto;
}

.forgot_password_image__child_text {
  position: absolute;
  bottom: 10%;
  left: 10%;
  right: 10%;
  text-align: center;
}

.forgot_password__md__7 {
  background: rgba(248, 249, 253, 1);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.forgot_password__form_container {
  width: 100%;
  max-width: 472px;
  padding: 2rem;
  margin-top: 100px;
}

/* Media queries for small devices */
@media (max-width: 768px) {
  .forgot_password__md__7 {
    border-radius: 20px;
  }

  .forgot_password_h2 {
    font-size: 2rem;
  }

  .forgot_password_p {
    font-size: 0.9rem;
  }

  .forgot_password_label {
    font-size: 1rem;
  }

  .forgot_password__form_container {
    padding: 1rem;
  }
  .padding_bg {
    padding: 0;
  }
}

/* Additional responsive adjustments */
@media (max-width: 576px) {
  .forgot_password_h2 {
    font-size: 1.75rem;
  }

  .forgot_password_button {
    height: 45px;
  }
}
